html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    background-image: url(../images/bg-lightl-876.png);
}

main {
    padding-bottom: 150px;
}

h1 {
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 35px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

h2 {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    font: 22px/22px 'Open Sans', sans-serif;
    font-weight: bold;
}

h3 {
    font: 18px/25px 'Open Sans', sans-serif;
    font-weight: bold;
}

img {
  max-width: 100%;
}

.center-wrap {max-width: 1200px; margin:0 auto;}

.main-header {
    margin: 0 auto;
    padding: 44px 0 50px;
    text-align: center;
    width: 960px;
}
.main-header .logo {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 340px;
}

.main-header .logo img {
    border: 0;
    margin: 0;
    padding: 0;
}
.main-navigation {
    margin: 0;
    padding: 56px 0 0;
}
.navigation-list li {
    position: relative;
    display: inline-block;
    list-style: none;
    margin: 0;
}
.navigation-list li a {
    color: #252525;
    display: block;
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 15px 19px;
    text-decoration: none;
    text-transform: uppercase;
}
.navigation-list li a:hover, .main-header ul li.selected a {
    color: #d41a64;
}

.navigation-list li.selected {
    position: relative;
}

.navigation-list li.selected::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 20px;
    left: 20px;
    height: 5px;
    background-color: #d41a64;
}

.navigation-list li::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 50%;
    left: 50%;
    height: 5px;
    background-color: #d41a64;
    transition: all 0.5s;
}

.navigation-list li:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 5px;
    background-color: #d41a64;
}



/*Slider begin*/

/* Slider cover*/

.slider-cut {
  position: relative;
  max-width: 100%;
  /*height: auto;*/
  overflow: hidden;
}

.slider-content {
  position: relative;
  left: 0;
  width: 500%;
  /*height: auto;*/
  transition: left .5s ease-in-out;
}

.slider-item {
  position: relative;
  z-index: 1;
  float: left;
  width: 20%;
  /*height: auto;*/
  overflow: hidden;
}


/* Slider's content */

.slider-item-content {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.content-txt {
  display: inline-block;
  position: relative;
  top: 170px;
  left: 30px;
  padding: 10px;
  background-color: rgba(255,255,255, 0.7);
  border-radius: 10px;
  z-index: 10;
}

.content-txt h2, .content-txt p {
  /*margin: 0;*/
  color: #354343;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}

.content-txt p {
  font-size: 16px;
}

.image {
  max-width: 100%
/*  width: 1400px;
  height: 560px;*/
  background-color: #ffffff;
}

.image img {
  max-width: 100%;
  /*height: 100%;*/
}


/* Slider's switch */

.switch {
  position: absolute;
  bottom: 20px;
  z-index: 20;
  left: 50%;
  height: 10px;
  transform: translateX(-50%);
}

.switch ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.switch ul li {
  float: left;
  margin-right: 12px;
  width: 9px;
  height: 9px;
  background-color: #c9e0c2;
  border-radius: 50%;
  cursor: pointer;
}

.switch ul li.active { background-color:#d41a64; }

.switch li:last-child { margin-right: 0; }

.switch ul { overflow:hidden; }

/*Slider end*/

.btn {
  display: inline-block;
  margin-top: 30px;
  padding: 11px 30px;
  font: 15px/24px "Roboto", Tahoma, sans-serif;
  vertical-align: top;
  color: #ffffff;
  background-color: #354343;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  outline: none;
  box-sizing: border-box;
  transition: all 0.5s;
}

.btn:hover {
  color: rgba(255, 255, 255, 0.9);
  background-color:rgba(53, 67, 67, 0.5);
}

.nav-image {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.nav-image-item {
    position: relative;
    flex-basis: 50%;
    min-height: 300px;
    margin: auto;
    text-align: center;
    color: #ffffff;
    box-sizing: border-box;
    background: url(../images/about-us.jpg) no-repeat;
    opacity: 0.7;
    transition: all 1s;
    overflow: hidden;
}

.nav-image-item b,
.nav-image-services__item h2 {
    position: absolute;
    top: 50%;
    font-size: 2.3em;
    transform: translate(-50%, -50%);
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 80%;
    min-height: 80%;
    background: rgba(212, 26, 100, 0.3);
    opacity: 0;
    transform: translate(-50%, -50%);
    overflow: hidden;
    transition: opacity 0.5s ease-in-out;
}

.box__h2 {
    position: absolute;
    top: 50px;
    left: 50%;
    display: inline-block;
    opacity: 1;
    transform: translateX(-50%);
    transition: top 0.5s ease-in-out;
}

.box__p {
    position: relative;
    bottom: -300px;
    width: 80%;
    margin: 0 auto; 
    text-align: left;
    transition: bottom 0.5s ease-in-out;
}

.box1 {
    position: relative;
    top: 60%;
    left: 50%;
    padding: 0;
    margin: 0;
    font: 22px 'Open Sans', sans-serif;
    opacity: 0;
    height: 0;
    transform: translateX(-50%);
}

.box2 {
    padding: 10px;
    opacity: 1;
    height: 100%;
    transition: opacity 0.7s;
}

.visible {
    opacity: 1;
}

.move-h {
    top: 70px;
}

.move-p {
    bottom: -120px;
}

.move-h2 {
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.nav-image-item:hover {
    opacity: 1;
}

.box__h2 a {
    display: block;
    text-decoration: none;
    color: inherit;
    transition: transform 0.7s;
}

.box__h2 a:hover {
    color: #d41a64;
    transform: scale(1.1,1.1);
}


.center-wrap h1 {
    position: relative;
    left: 50%;
    margin-bottom: 50px;
    transform: translateX(-50%);
}
.center-wrap h1 span {
    background: linear-gradient(to right, #d41a64, #A784BC);
    display: inline-block;
    padding: 15px 28px 12px;
    color: #ffffff;
}

.nav-image-services {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.nav-image-services__item div {
    position: relative;
    min-height: 200px;
    border: 5px solid #ffffff;
    text-align: center;
    color: #ffffff;
    box-sizing: border-box;
    background: #A784BC url(../images/design_s.jpg) no-repeat;
    background-size: 100% auto;
    opacity: 0.7;
    overflow: hidden;
}

.nav-image-services__unvisible-text {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    font-size: 22px;
    font-weight: bold;
    color: #d41a64;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s linear 0.5s;
}

.nav-image-services__unvisible-text:hover {
    text-decoration: none;
}

.visible-text {
    opacity: 1;
}

.about {
  font-size: 18px;
  line-height: 24px;
}

.about > img {
  display: block;
  margin: 0 auto;
}

.services h2 {
  color: #41c7f1;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}

.order form {
    margin: 0 auto;
    padding: 24px 0 0;
    width: 620px;
}

.order form input, .order form textarea {
    border: 2px solid #d41a64;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    margin: 0 0 37px;
    padding: 20px 10px;
    text-align: center;
    text-transform: uppercase;
    width: 596px;
}

.order form input:focus, .order form textarea:focus {
    outline: 3px solid #d41a64;
}

.order form textarea {
    height: 175px;
    overflow: auto;
    resize: none;
}

.order input[type="submit"] {
    background: #d41a64;
    color: #fff;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 15px;
    font-weight: normal;
    display: block;
    margin-top: 20px;
    padding: 20px 46px;
    width: auto;
    border: none;
}

.order input[type="submit"]:hover {
    color: #ffffff;
    opacity: 0.9;
    cursor: pointer;
}

.order input[type="file"] {
    display: none;
}

.order input[type="file"] + label {
    display: inline-block;
    padding: 24px 28px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase;
    background: #d41a64;
    color: #ffffff;
    cursor: pointer;
}

.order input[type="file"] + label:hover {
    opacity: 0.9;
}


.instead-name {
    display: inline-block;
    margin-left: 20px;
    font-weight: bold;
    font-style: italic;
    color: #d41a64;
}

.contacts-list {
    display: flex;
    flex-direction: column;
}

.contacts-list-item {
    display: flex;
    margin: 20px 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 115px;
}

.contacts-list-item a {
    display: inline-block;
    align-self: center;
    font-size: 18px;
    font-weight: bold;
    color: #d41a64;
    text-decoration: none;
}

.phone {
    background: url(../images/icons/icon-phone.png) 20px 50% no-repeat;
}

.post {
    background: url(../images/icons/icon-mail.png) 0 50% no-repeat;
}

.skype {
    background: url(../images/icons/icon-skype.png) 20px 50% no-repeat;
}

.main-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to left, #d41a64, #A784BC);
    padding: 36px 0 42px;
}
.main-footer div {
    overflow: hidden;
    padding: 0;
    width: 100%;
}
.main-footer div p {
    color: #fff;
    float: left;
    line-height: 44px;
    margin: 0 0 0 10px;
    padding: 0;
}
.social {
    display: block;
    float: right;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 256px;
}
.social li {
    display: block;
    float: left;
    list-style: none;
    margin: 0 10px;
    padding: 0;
    width: 44px;
}

.social a {
    background: url(../images/icons/icons.png) no-repeat 0 0;
    display: block;
    height: 44px;
    margin: 0;
    padding: 0;
    text-indent: -99999px;
    width: 44px;
}
#twitter {
    background-position: 0 0;
}
#twitter:hover {
    background-position: -48px 0;
}
#facebook {
    background-position: 0 -44px;
}
#facebook:hover {
    background-position: -48px -44px;
}
#skype {
    background-position: 0 -88px;
}
#skype:hover {
    background-position: -48px -88px;
}